</main>
  <footer>
    <p>&copy; <%= new Date().getFullYear() %> Fiks ferdig - Todo list developed with <i class="fas fa-heart"></i></p>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>
